.UserOptions-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 88vh;
}

.UserOptions-left-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 88vh;
}

.UserOptions-edit-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 44vh;
}

.UserOptions-edit-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 44vh;
}

.UserOptions-left-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 88vh;
}

.UserOptions-skill-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    width: 30vw;
    height: 75vh;
    background-color: grey;
    border: 6px ridge rgb(185, 70, 57);
    box-shadow: 1px 1px grey, 4px 4px black;
    margin: 5px auto;
}

.UserOptions-skill-card {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    width: 25vw;
    border: 1px solid black;
}

.UserOptions-skill-img {
    width: 25px;
}