.AddSkill-layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddSkill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AddSkill-card {
    display: flex;
}

.AddSkill-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}